body {
	font-family: 'Share Tech Mono', sans-serif;
	color: #FAF3BC;
	/*background: #420600 url('img/bg-texture.jpg') repeat;*/
	background: #003333;
}

a {
	color: #4FB69F;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.500em;
	color: #B4C34F;
}
img {
	max-width: 100%
}

.btn {
	color: #FAF3BC;
	background: #4FB69F url('img/texture.png') no-repeat right top;
	padding: 2.0134% 4.0268%; /* using grid_9 container; 15px 30px */
	margin: 5.3691% 0; /* using grid_9 container; 40px 0px */
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover{
	/*background-color: #4CC4A7;*/
	text-decoration: underline;
}


#nav ul {
	width: 100%;
	margin: 20% 0 0 0;
	list-style: none;
	float: right;
	}
#nav ul li {
	float: left;
	}
	#nav ul li.about {
		width: 15%;
	}
	#nav ul li.portfolio {
		width: 20%;
	}
	#nav ul li.resume {
		width: 15%;
	}
	#nav ul li.contact {
		width: 25%;
		margin: 0 5% 0 5%;
		text-align: center;
		border: 0;
	}

#nav ul li a {
	color: #faf3bc;
	display: block;
	text-decoration: none;
	}

#logo img {
	width: 150px;
	margin-top: 20px;
}

#selfie img {
	border: 8px solid #FAF3BC;
	height: 279px;
}

#intro {
	margin: 25px 0 75px 0;
	font-family: 'Neucha', sans-serif;
}

#new-cupcakes img {
	border: 8px solid #FAF3BC;
	margin: 20px 0px 5px 0px;
	height: 160px;
}

#featured-cupcake img {
	border: 8px solid #FAF3BC;
	/*height: 360px;*/
	width: 555px;

}

#copyright {
	border-top: 8px solid #2A0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}

/* Media Queries */

/* iPhone --------------------------- */
@media screen and (max-width: 480px) {
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}



#nav ul {
	margin: 5% 0;
}


#nav ul li {
	float: left;
	margin: 5% 0;
	}
	#nav ul  li.about {
		width: 20%;
		text-align: left;
	}
	#nav ul  li.portfolio {
		width: 55%;
		text-align: center;
	}
	#nav ul  li.resume {
		width: 25%;
		text-align: right;
	}
	#nav ul  li.contact {
		width: 100%;
		margin: 0;
		font-size: 1em;
		text-align: center;
	}

}





